#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  margin-top: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  margin: 1rem;
  padding: 1rem 1rem;
}

.hidden {
  display: none;
}

h1,
h2 {
  margin: 1rem 0;
}

h3 {
  margin-bottom: 2.5rem;
}
