form {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

label {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

input {
  border-radius: 5px;
  border: solid 1px #20c20e;
  outline: none;
}
